<div class="main-container">
  <header class="header">
    <h1>Gwennouille Shop</h1>
    <button class="logout-button" (click)="confirmLogout()">Logout</button>
  </header>

  <div class="not-connected-message" *ngIf="notConnectedMessage">
    {{ notConnectedMessage }}
  </div>

  <router-outlet></router-outlet>

  <div class="confirmation-modal" *ngIf="showLogoutConfirmation">
    <div class="modal-content">
      <p>Do you want to logout</p>
      <button class="confirm-button" (click)="onLogout()">Yes</button>
      <button class="cancel-button" (click)="cancelLogout()">No</button>
    </div>
  </div>
</div>
